table
{
    border-collapse: collapse;
    width: 80%;
    margin-left: 80pt;
    margin-right: 80pt;
    margin-bottom: 50pt;
}
 
table, th, td
{
    border: 1px solid gainsboro;
    padding: 10px;
}
 
th
{
    background-color: dodgerblue;
    color: white;
}
 
tr:nth-child(odd)
{
    background-color: Lavender;
}